.login {
  position: fixed;
  top: 0rem;
  height: 100%;
  width: 100%;
  z-index: 1555151515;
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
}
.modal {
  background: var(--text-color);
  margin-top: 5rem;
  color: black;
  height: 20rem;
  width: 80%;
}
.login-input {
  width: 75%;
  height: 25px;
  margin-top: 5px;
  text-indent: 5px;
  font-size: 12.6pt;
  border-radius: 5px;
  border: solid 1.5px #d3d3d3;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.btn-login {
  background-color: var(--sidebar-hover-color);
  color: var(--primary-color);
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
}
.text-guest {
  color: 'black';
  cursor: pointer;
}
.text-guest:hover {
  color: var(--sidebar-hover-color);
}
.btn-guest {
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
}
@media screen and (min-width: 666px) {
  .modal {
    width: 40%;
  }
}
