.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
@media screen and (min-width: 666px) {
  .loader {
    padding-left: 15.5rem;
    color: var(--primary-color);
    font-size: var(--font-size-lg);
  }
}
